# workspace data
.metadata/
*.xml
*.bin
*makefile

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.list
*.mk

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
subdir.mk 

# cscope with Vim
cscope.*

#ctags with Vim
tags
types_c.taghl

#CtrlP
ctrlp.root

#html
*.html

#DS_Store
*.DS_Store
Master_Workspace/.DS_Store
.DS_Store
/.DS_Store

#Licenses
*.md
/Master_Workspace/.project
/Master_Workspace/GEN11_SWB/Drivers/CMSIS/Device/ST/STM32L4xx/LICENSE.txt
/Master_Workspace/GEN11_SWB/Drivers/CMSIS/LICENSE.txt
/Master_Workspace/GEN11_SWB/Drivers/STM32L4xx_HAL_Driver/LICENSE.txt
/Master_Workspace/GEN11_SWB/Drivers/STM32L4xx_HAL_Driver/License.md
